// Pulse Animation for Mic
@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
        box-shadow: 0 0 10px rgba(236, 72, 153, 0.5);
    }

    100% {
        transform: scale(1);
    }
}

.pulse-animation {
    animation: pulse 1.5s infinite;
    color: $secondary;
}